<header>
    <div class="container menu">
        
        <div class="row p-b-15 p-t-15">
            <div class="col-md-2">
                <div class="logo">
                    <a href="/">
                        <img class="img-responsive" src="/assets/img/logo_h.png" alt="IVDevs comunidad de programadores de la iv región">
                    </a>
                </div>
            </div>
            
                    
                    	{% assign pages = site.pages | sort:"order"  %}
                        {% for my_page in pages %}
                            {% if my_page.title %}
                                {% if page.url == my_page.url %}
                                    <div class="col-md-2 text-center" >
                                        <a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
                                    </div>
                                {% else %}
                                    <div class="col-md-2 text-center"><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                   
                
        </div> <!-- ROW -->

    </div>
</header>
